body {
    background: rgb(20,21,43);
    background: linear-gradient(169deg, rgb(1, 0, 20) , rgb(20, 14, 43) );
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
.titleText {
    margin-top: 30vh;
    color: rgb(0, 255, 255);
    margin-bottom: 70px;
}
.centeredContent {
    text-align: center;
    align-content: center;
}
#startScreen {
    display:flex; /*Turned off for testing purposes*/
}

#quizScreen {
    display: none;
    background: rgb(65, 65, 121);
    background: linear-gradient(169deg, rgb(35,36,66) , rgb(65, 65, 121) );
    background-repeat: no-repeat;
    height: 100vh;
}

#quizAnswers{
    background: rgb(46, 46, 46);
    padding-top: 5%;
    border: 6px solid rgb(41, 41, 41);
    border-radius: 3px;
}

#quizAnswers .btn {
    margin : 1%;
}

#highScore {
    display: none;
}

#highScore h1 {
    color:white;
}

#highScore p {
    color:white;
}

.modal-content {
    padding: 5%;
}

.modal-content form {
    color:black;
}

#timerText {
    color:white;
    text-align: right;
}